<md-content layout="column">
  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <div class="md-title">Make Team Selections</div>
        <div class="md-subhead">Points Total Spent: {{ spent }}</div>
      </md-card-title-text>
    </md-card-title>
    <div layout="row" ng-repeat="matchup in matchups" layout-align="space-around center">
      <div flex>
          <input type="checkbox" ng-click="updateSelected()" class="selection" ng-model="selected[matchup[0]]" />
      </div>
      <div flex>
        {{ teams[matchup[0]].name }} vs {{ teams[matchup[1]].name }}
      </div>
      <div flex>
        <input type="checkbox" ng-click="updateSelected()" class="selection" ng-model="selected[matchup[1]]" />
      </div>
    </div>
    <div layout="column" layout-align="center center" layout-padding>
      <md-button class="md-raised md-primary" ng-click="update()" ng-disabled="isDisabled()">
        Show Point Distribution
      </md-button>
    </div>
  </md-card>
  <md-card class="column" ng-show="scores.length > 0">
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">Possible Point Distribution</span>
      </md-card-title-text>
    </md-card-title>
    <md-subheader>Absolute points returned</md-subheader>
    <div layout="row" layout-padding layout-align="space-around center">
      <div flex><strong>Min</strong></div>
      <div flex ng-repeat="score in scores">
        {{ score }}
      </div>
      <div flex><strong>Max</strong></div>
    </div>
    <md-subheader>Return on points invested</md-subheader>
    <div layout="row" layout-padding layout-align="space-around center">
      <div flex><strong>Min</strong></div>
      <div flex ng-repeat="return in returns">
        {{ return }}%
      </div>
      <div flex><strong>Max</strong></div>
    </div>
  </md-card>
</md-content>